<h1>Contact Page</h1>

<div class="row">
  <div class="col-xs-3">
    <h3>Information</h3>
      <address>
        +15873318073<br>
        328 Centre St S #146<br>
      </address>
  </div>
  <div class="col-xs-9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.1873597176727!2d-114.06425788355327!3d51.049628179562504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716ffec9a7b98b%3A0x1314d5e291d78f4c!2sMy%20Vietnamese%20Delight!5e0!3m2!1sen!2sca!4v1648243123825!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
