<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Welcome to <b>My Vietnamese Delight.</b></p>
  <hr class="my-4">
  <p>>:-(</p>
  <img src="https://www.pressurecookrecipes.com/wp-content/uploads/2020/01/instant-pot-pho.jpg" class="img-fluid" alt="Responsive image">
  <p class="lead">
  <div class = "mt-1">
    <a class="btn btn-primary btn-lg" href="/menu" role="button">Order Now!</a>
  </div>
  </p>
</div>
