<h1>Editing promo item</h1>

<%= render "form", promo_item: @promo_item %>

<br>

<div>
  <%= link_to "Show this promo item", @promo_item %> |
  <%= link_to "Back to promo items", promo_items_path %>
</div>
